/*-------overall--------*/
*{
    margin: 0;
}

html, body{

    min-height:100%;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;

}

h1, h2, h3, h4, h5, h6, p{
    margin-bottom:16px;
}

section{
    background-color: #ffffff;
}
/*-------navigation--------*/

nav{
    min-height: 50px;
    width:100%;
    background-color: #ffffff;
    color: #ffffff;
    display:flex;
    align-items: center;
    justify-content: space-between;
    /*position:fixed;*/
    margin-top:0;
    z-index: 99;
    border-bottom: 1px solid #333333;
}

nav span{
    padding-left:20px;
    font-size:24px;
    font-weight: 300;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0 50px;
    padding: 0;
    overflow: hidden;
    /*background-color: #ffffff;*/
}

li{
    align-items: flex-end;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-weight: 100;
    font-size: 1em;

}

li a:hover, .dropbtn:hover {
    background-color: #ffffff;
    color: #999999;
}
/*-------control panel--------*/

.controlPanel{
    width:100%;
    height:75px;
    /*background-color: #4ba3c3;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*-------selection bar--------*/

.selectBar{
    padding: 20px;
}

.selectBar tr{
    padding: 20px;
    float:right;
}

.switchBtn{
    padding:10px;

}
.form-control{
    display: block;
    width: 300px;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #d3d3d3;
    background-color: #fff;
    background-image: none;
    border: 1px solid #999999;
    border-radius: 4px;
}


/*-------map page--------*/
.main {
    height: 600px;
    width: 100%;
    /*background-color: #43cbd6;*/
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #999999;
}

#map{
    width:100%;
    height:600px;
    position: relative;
}

#map svg{
    width:100%;
    height:600px;
    margin-left:200px;

    /*background-color: #7a79d6;*/
}

.legendLinear{
    position: absolute;
    margin:325px 20px 20px 76%;
    width:250px;
    height:150px;
    /*background-color: #2a4d14;*/
    border: 1px solid #999999;
    z-index: 10;
}


/*-------homepage--------*/
.welcome {
    width: 100%;
    height: 100%;
    background-color:#175676 ;
    position: fixed;

}

.callOut{
    width: 60%;
    color: #cce6f4;
    margin: auto;
    margin-top: 200px;
    text-align: center;
}

.callOut h1{
    font-size:4em;
}
.callOut h2{
    font-size: 2em;
}

/*-------legend styling--------*/
/*
.my-legend{
    padding-top: 30px;

}

.my-legend .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}
.my-legend .legend-scale ul li {
    display: block;
    float: left;
    width: 60px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
}
.my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 60px;
}
.my-legend .legend-source {
    font-size: 100;
    clear: both;
}
.my-legend a {
    color: #777;
}
*/

/*-------detail information--------*/

.detailInfo{
    width: 1040px;
    min-height:500px;
    margin: auto;
    font-size: 24px;
    font-weight: 700;
    background-color: #E1E1E1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.detailLeft{
    width: 300px;
    min-height: 100%;
    /*background-color: #ffb093;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:24px;
    border-right: 1px solid #ffffff;

}


.detailLeft p{
    font-size: 18px;
    font-weight: 300;
    height:20px;
    /*background-color: #ba324f;*/
    padding:16px;
}

.detailRight{
    width: 740px;
    height: 100%;
    /*background-color: #5affae;*/
    display: flex;
    flex-direction: column;
    padding:24px;
}

.miniChart{
    width: 740px;
    height:250px;
    border-bottom: 1px solid #ffffff;
    display: flex;


}

.miniChart:nth-child(2){
    width: 740px;
    height:250px;
}
.miniChart h3{
    font-size: 24px;
    font-weight: 300;

}

.miniChart label{
    font-size: 24px;
    font-weight: 300;
    padding:16px;

}

.miniChart svg{
    width: 300px;
    height: 250px;
    display: flex;
    /*background-color: #89cdef;*/
    margin-left:16px;
}

.miniChart svg path{
    float:right;

}
/*-------documentation page styling--------*/
.description{
    background-color: #ffffff;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    padding-top:30px;
}

.blank{
    width: 100%;
    height:30px;
    /*background-color: #2a6496;*/
}
.team{
    height:300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.member{
    /*background-color: #5cb85c;*/
    width: 200px;
    height:250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.member img{
    width:180px;
    height:180px;
}

.design{
    width:75%;
    margin:auto;
    text-align: left;
}

.design p{
    padding:16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.images{
    height:auto;
    width:100%;
    margin:16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.images img{
    width:90%;
}

footer{
    margin:0;
    background-color: #333333;
    height:100px;
    width:100%;
    color: #FFFFFF;
    font-weight: 100;
}

.copyRight{
    width: 80%;
    margin: auto;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
}
